.technology-logos-1{
  /* width: 50vw; */
	display: flex;
	justify-content: column;
}

#git, #webpack #node, #express, #mongo, #jQuery{
	width: 20%;
	margin: 1.5%
}
#css{
  width: 10.5%;
}

.education{
	display: flex;
	justify-content: space-around;
}

.about-me-pic{
	margin-bottom: 30px;
}